input/
out/
work/
raw/
capture/
captures/
keys/
keystore/
secrets/
.gradle/
build/
__pycache__/
.pytest_cache/

*.[aA][pP][kK]
*.[aA][pP][kK]+
*.[aA][pP][kK][sS]
*.[xX][aA][pP][kK]
*.[dD][eE][xX]

*.[pP][cC][aA][pP]
*.[pP][cC][aA][pP][nN][gG]
*.[lL][oO][gG][cC][aA][tT]
*.[cC][aA][pP][tT][uU][rR][eE]
*.raw.jsonl
*.jsonl
*.log
*.py[cod]
*.class
*.jar
*.aar

*.[jJ][kK][sS]
*.[kK][eE][yY][sS][tT][oO][rR][eE]
*.[kK][eE][yY]
*.[pP][eE][mM]
*.[pP]12
*.[pP][fF][xX]
*.[cC][eE][rR]
*.[cC][rR][tT]
*.[dD][eE][rR]
*.[pP][aA][sS][sS]
*[pP][aA][sS][sS][wW][oO][rR][dD]*
*[sS][eE][cC][rR][eE][tT]*
